<div class="h-top">
  <div class="flex--wrap edge inner">
    <div class="symbol">
      <a href="@@path/index.html">
        <span>
          <em class="hidden-txt">마이스 플랫폼</em>
        </span>
      </a>
    </div>
    <ul>
      <li>
        <a href="" class="sign-up">JOIN </a>
      </li>
      <li>
        <a href="" class="sign-in">LOG IN </a>
      </li>
    </ul>
  </div>
</div>
<div class="h-body">
  <div class="flex--wrap edge inner">
    <div class="symbol">
      <a href="@@path/index.html">
        <span>
          <em class="hidden-txt">마이스 나이스</em>
        </span>
      </a>
    </div>
    <ul class="pc-only-1024">
      <li>
        <a href="">행사뉴스</a>
      </li>
      <li>
        <a href="">공지사항</a>
      </li>
      <li>
        <a href="">행사정보</a>
      </li>
      <li>
        <a href="">행사일정</a>
      </li>
    </ul>
    <div class="mob-only-1024">
      <button type="button" class="btn-mob-menuOpen">
        <em class="hidden-txt">전체 메뉴</em>
        <i></i><i></i><i></i><i></i>
      </button>
      <div class="mob-menu-wrap">
        <div class="inner">
          <h4 class="members">
            <span class="img-thumb">
              <em class="hidden-txt">프로필 이미지</em>
            </span>
            <span>
              <strong>홍길동님 안녕하세요!</strong><br />
              hong2023@pcninc.co.kr
            </span>
          </h4>
          <div class="grid-wrap col-2 gap10 btn-wrap">
            <button type="button" class="btn-member mice">
              <em class="hidden-txt">MICE Platform</em>
            </button>
            <button type="button" class="btn-member sign-out">
              <em>로그아웃</em>
            </button>
          </div>
          <ul class="depth1">
            <li>
              <a href="">행사뉴스</a>
            </li>
            <li>
              <a href="">공지사항</a>
            </li>
            <li>
              <a href="">행사정보</a>
            </li>
            <li>
              <a href="">행사일정</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
