<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="Author" content="@@page_name" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

@@if (page_main === true){
<title>MICE미팅프로그램</title>
<script src="assets/js/lib.js"></script>
<script defer src="assets/js/common.js"></script>
<link rel="stylesheet" href="assets/css/style.css" />
} @@if (page_main === false){
<title>@@page_title | MICE미팅프로그램</title>
<script src="../assets/js/lib.js"></script>
<script defer src="../assets/js/common.js"></script>
<link rel="stylesheet" href="../assets/css/style.css" />
}
