<div class="modal type2 animate fast zoomOut" id="modal-inviteConference">
  <div class="modal-header">
    <h4><span>회의 초대장</span></h4>
    <button type="button" class="btn-close-modal"><em class="hidden-txt">레이어 팝업 닫기</em></button>
  </div>
  <div class="modal-body">
    <div class="modal-contents">
      <div class="info align-r">&nbsp;필수 입력 정보입니다.</div>
      <div class="inviteConference">
        <dl class="grid-wrap">
          <dt><span class="est">회원찾기</span></dt>
          <dd>
            <div class="text-wrap has-button">
              <input type="text" placeholder="회원아이디 또는 닉네임을 입력해주세요." />
              <div class="btn-wrap inline">
                <button class="btn-search bg-navy2 rounded"><em>회원검색</em></button>
              </div>
            </div>
          </dd>
          <dt><span class="est">이메일</span></dt>
          <dd>
            <div class="text-wrap e_mail">
              <input type="text" placeholder="ID를 입력해주세요." />
            </div>
            <div class="select-wrap">
              <label for="mail"><em class="hidden-txt">이메일</em></label>
              <select name="" id="mail">
                <option selected>naver.com</option>
              </select>
            </div>
          </dd>
          <dt><span class="est">초대 내용</span></dt>
          <dd>
            <div class="text-wrap">
              <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
          </dd>
        </dl>
        <div class="btn-wrap half align-c">
          <button type="button" class="btn-invite wide rounded bg-navy"><em>초대하기</em></button>
        </div>
      </div>
    </div>
  </div>
</div>
