<div class="modal type2 animate fast zoomOut" id="modal-createSurvey">
  <div class="modal-header">
    <h4><span>투표생성 및 수정</span></h4>
    <button type="button" class="btn-close-modal"><em class="hidden-txt">레이어 팝업 닫기</em></button>
  </div>
  <div class="modal-body">
    <div class="modal-info">
      <dl>
        <dt><span>웨비나</span></dt>
        <dd><b>FRB의 다중 파장 연구 및 우주론적 사용</b></dd>
      </dl>
      <dl>
        <dt><span>시간</span></dt>
        <dd><em>13시 30분 ~ 15시 30분</em></dd>
      </dl>
    </div>
    <div class="modal-contents">
      <div class="info align-r">&nbsp;필수 입력 정보입니다.</div>
      <div class="createSurvey">
        <dl class="grid-wrap">
          <dt><span class="est">질문</span></dt>
          <dd>
            <div class="text-wrap">
              <input type="text" value="참여자 혈액형 투표" />
            </div>
          </dd>
          <dt><span class="est">선택</span></dt>
          <dd>
            <div class="radio-wrap">
              <span>
                <input type="radio" name="aa" id="onlyOne" />
                <label for="onlyOne"><em>단일 선택</em></label>
              </span>
              <span>
                <input type="radio" name="aa" id="both" />
                <label for="both"><em>복수 선택</em></label>
              </span>
            </div>
          </dd>
          <dt><span class="est">항목</span></dt>
          <dd>
            <div class="list">
              <div class="text-wrap">
                <input type="text" value="O형" />
              </div>
              <div class="text-wrap">
                <input type="text" value="AB형" />
              </div>
              <div class="text-wrap">
                <input type="text" value="A형" />
              </div>
              <div class="text-wrap">
                <input type="text" value="B형" />
              </div>
              <div class="text-wrap">
                <input type="text" value="RH -형" />
              </div>
            </div>
            <div class="btn-wrap grid-wrap">
              <button type="button" class="btn-deleteList rounded bg-blueGray"><em>항목 삭제</em></button>
              <button type="button" class="btn-deleteList rounded bg-orange"><em>항목 추가</em></button>
            </div>
          </dd>
        </dl>
        <div class="btn-wrap triple align-c">
          <button type="button" class="btn-cancle wide rounded bg-gray"><em>취소</em></button>
          <button type="button" class="btn-modify wide rounded bg-navy"><em>수정</em></button>
          <button type="button" class="btn-delete wide rounded bg-blueGray"><em>삭제</em></button>
        </div>
      </div>
    </div>
  </div>
</div>
