<div class="modal type2 animate fast zoomOut" id="modal-voteResult">
  <div class="modal-header">
    <h4><span>투표결과</span></h4>
    <button type="button" class="btn-close-modal"><em class="hidden-txt">레이어 팝업 닫기</em></button>
  </div>
  <div class="modal-body">
    <div class="modal-info">
      <dl>
        <dt><span>웨비나</span></dt>
        <dd><b>FRB의 다중 파장 연구 및 우주론적 사용</b></dd>
      </dl>
      <dl>
        <dt><span>시간</span></dt>
        <dd><em>13시 30분 ~ 15시 30분</em></dd>
      </dl>
    </div>
    <div class="modal-contents">
      <dl class="voteResult">
        <dt>
          <b>Q. 참여자 혈액형 투표</b>
          <span>참여 <b>74</b>명</span>
        </dt>
        <dd>
          <ul class="grid-wrap gap10">
            <li>
              <div class="chart flex--wrap center">
                <span class="data flex--wrap center"><b>O형</b></span>
                <em class="count">23</em>
                <em class="total hidden-txt">74</em>
                <b class="percentage"></b>
              </div>
            </li>
            <li>
              <div class="chart flex--wrap center">
                <span class="data flex--wrap center"><b>AB형</b></span>
                <em class="count">14</em>
                <em class="total hidden-txt">74</em>
                <b class="percentage"></b>
              </div>
            </li>
            <li>
              <div class="chart flex--wrap center">
                <span class="data flex--wrap center"><b>A형</b></span>
                <em class="count">17</em>
                <em class="total hidden-txt">74</em>
                <b class="percentage"></b>
              </div>
            </li>
            <li>
              <div class="chart flex--wrap center">
                <span class="data flex--wrap center"><b>B형</b></span>
                <em class="count">19</em>
                <em class="total hidden-txt">74</em>
                <b class="percentage"></b>
              </div>
            </li>
            <li>
              <div class="chart flex--wrap center">
                <span class="data flex--wrap center"><b>RH-형</b></span>
                <em class="count">1</em>
                <em class="total hidden-txt">74</em>
                <b class="percentage"></b>
              </div>
            </li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</div>
