<div class="modal animate fast zoomOut" id="modal-setCamera">
  <div class="modal-header">
    <h4>설정</h4>
    <button type="button" class="btn-close-modal"><em class="hidden-txt">레이어 팝업 닫기</em></button>
  </div>
  <div class="modal-body">
    <div class="modal-title">
      <h5>방송화면</h5>
    </div>
    <div class="modal-contents">
      <div class="radio-wrap">
        <span>
          <input type="radio" name="a" id="Chk-a" checked="" />
          <label for="Chk-a"><em class="hidden-txt">pc camera</em></label>
        </span>
        <span class="select-wrap md">
          <label for="selectCamera"><em class="hidden-txt">PC Camera 선택</em></label>
          <select name="" id="selectCamera">
            <option value="">PC Camera</option>
          </select>
        </span>
      </div>
      <div class="radio-wrap">
        <span>
          <input type="radio" name="a" id="Chk-b" />
          <label for="Chk-b"><em class="hidden-txt">윈도우 화면</em></label>
        </span>
        <span class="select-wrap md">
          <label for="selectWindow"><em class="hidden-txt">윈도우 화면 선택</em></label>
          <select name="" id="selectWindow">
            <option value="">윈도우 화면</option>
          </select>
        </span>
      </div>
    </div>
  </div>
</div>
