<div class="modal type2 animate fast zoomOut" id="modal-setConference">
  <div class="modal-header">
    <h4><span>회의록 관리</span></h4>
    <button type="button" class="btn-close-modal"><em class="hidden-txt">레이어 팝업 닫기</em></button>
  </div>
  <div class="modal-body">
    <div class="modal-info">
      <dl>
        <dt><span>웨비나</span></dt>
        <dd><b>FRB의 다중 파장 연구 및 우주론적 사용</b></dd>
      </dl>
      <dl>
        <dt><span>시간</span></dt>
        <dd><em>13시 30분 ~ 15시 30분</em></dd>
      </dl>
    </div>
    <div class="modal-contents">
      <div class="editRecord customedScroll">
        <div class="recordItem flex--wrap">
          <div class="flex--wrap">
            <span>2022-11-01 13시 31분</span>
          </div>
          <div class="text-wrap has-button2">
            <input type="text" value="회의록 시작합니다." />
            <div class="btn-wrap inline">
              <button type="button" class="btn-modify bg-gray rounded"><em>수정</em></button>
            </div>
          </div>
        </div>
        <div class="recordItem flex--wrap">
          <div class="flex--wrap">
            <span>2022-11-01 13시 32분</span>
          </div>
          <div class="text-wrap has-button2">
            <input type="text" value="홍길동님이 우주론적 관려 제품정보 파일 공유를 요청 하여 공유함" />
            <div class="btn-wrap inline">
              <button type="button" class="btn-modify bg-gray rounded"><em>수정</em></button>
            </div>
          </div>
        </div>
        <div class="recordItem flex--wrap">
          <div class="flex--wrap">
            <span>2022-11-01 13시 33분</span>
          </div>
          <div class="text-wrap has-button2">
            <input type="text" value="회의록 시작합니다." />
            <div class="btn-wrap inline">
              <button type="button" class="btn-modify bg-gray rounded"><em>수정</em></button>
            </div>
          </div>
        </div>
        <div class="recordItem flex--wrap">
          <div class="flex--wrap">
            <span>2022-11-01 13시 34분</span>
          </div>
          <div class="text-wrap has-button2">
            <input type="text" value="회의록 시작합니다." />
            <div class="btn-wrap inline">
              <button type="button" class="btn-modify bg-gray rounded"><em>수정</em></button>
            </div>
          </div>
        </div>
        <div class="recordItem flex--wrap">
          <div class="flex--wrap">
            <span>2022-11-01 13시 35분</span>
          </div>
          <div class="text-wrap has-button2">
            <input type="text" value="회의록 시작합니다." />
            <div class="btn-wrap inline">
              <button type="button" class="btn-modify bg-gray rounded"><em>수정</em></button>
            </div>
          </div>
        </div>
        <div class="recordItem flex--wrap">
          <div class="flex--wrap">
            <span>2022-11-01 13시 36분</span>
          </div>
          <div class="text-wrap has-button2">
            <input type="text" value="회의록 시작합니다." />
            <div class="btn-wrap inline">
              <button type="button" class="btn-modify bg-gray rounded"><em>수정</em></button>
            </div>
          </div>
        </div>
      </div>
      <div class="saveRecord">
        <div class="flex--wrap">
          <div>2022-11-01 13시 36분</div>
          <div class="text-wrap has-button">
            <textarea name="" id=""></textarea>
            <div class="btn-wrap inline">
              <button type="button" class="btn-save bg-navy2 rounded"><em>저장</em></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
