<div class="modal type2 animate fast zoomOut" id="modal-setSurvey">
  <div class="modal-header">
    <h4><span>투표 관리</span></h4>
    <button type="button" class="btn-close-modal"><em class="hidden-txt">레이어 팝업 닫기</em></button>
  </div>
  <div class="modal-body">
    <div class="modal-title">
      <h5>2022 제 31회 국제천문연맹 총회 XXXIst General Assembly of International</h5>
      <button type="button" class="btn-createSurvey bg-skyblue rounded button-active-modal" data-modal-name="createSurvey">
        <em>투표 생성</em>
      </button>
    </div>
    <div class="modal-info">
      <dl>
        <dt><span>웨비나</span></dt>
        <dd><b>FRB의 다중 파장 연구 및 우주론적 사용</b></dd>
      </dl>
    </div>
    <div class="modal-contents">
      <ul class="surveyList grid-wrap col-2">
        <li class="grid-item">
          <dl>
            <dt><b>설문조사 A</b></dt>
            <dd>
              <div class="total"><span>설문조사A에</span>&nbsp;<b>1,424명</b><span>이 투표에 참여했습니다.</span></div>
              <hr />
              <div class="period">
                <strong>투표기간</strong>
                <span>2022년 03월 07일 12시 30분 ~ 13시 30분</span>
              </div>
              <div class="btn-wrap">
                <button class="btn-vote wide bg-navy2 rounded button-active-modal" data-modal-name="voteSurvey">
                  <em>투표하기</em>
                </button>
              </div>
              <div class="btn-wrap half">
                <button class="btn-result wide bg-orange rounded button-active-modal" data-modal-name="voteResult">
                  <em>투표결과</em>
                </button>
                <button class="btn-modify wide bg-gray rounded"><em>수정</em></button>
              </div>
            </dd>
          </dl>
        </li>
        <li class="grid-item">
          <dl>
            <dt><b>설문조사 B</b></dt>
            <dd>
              <div class="total"><span>설문조사B에</span>&nbsp;<b>913명</b><span>이 투표에 참여했습니다.</span></div>
              <hr />
              <div class="period">
                <strong>투표기간</strong>
                <span>2022년 03월 07일 12시 30분 ~ 13시 30분</span>
              </div>
              <div class="btn-wrap">
                <button class="btn-vote wide bg-navy2 rounded button-active-modal" data-modal-name="voteSurvey">
                  <em>투표하기</em>
                </button>
              </div>
              <div class="btn-wrap half">
                <button class="btn-result wide bg-orange rounded button-active-modal" data-modal-name="voteResult">
                  <em>투표결과</em>
                </button>
                <button class="btn-modify wide bg-gray rounded"><em>수정</em></button>
              </div>
            </dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
</div>
