<div class="modal type2 animate fast zoomOut" id="modal-setMatchmaking">
  <div class="modal-header">
    <h4><span>매치 메이킹</span></h4>
    <button type="button" class="btn-close-modal"><em class="hidden-txt">레이어 팝업 닫기</em></button>
  </div>
  <div class="modal-body">
    <div class="modal-title">
      <h5>관심 분야를 체크해 주세요.</h5>
    </div>
    <div class="modal-contents">
      <ul class="chkList">
        <li>
          <div class="chk-wrap-type02 hashTag">
            <span>
              <input type="checkbox" id="a" name="allChk_listA" />
              <label for="a"><em>행성과학 전체</em></label>
            </span>
          </div>
          <div class="chk-wrap-type02 hashTag">
            <span>
              <input type="checkbox" id="a1" name="listA_1" />
              <label for="a1"><em>행성</em></label>
            </span>
            <span>
              <input type="checkbox" id="a2" name="listA_2" />
              <label for="a2"><em>위성</em></label>
            </span>
            <span>
              <input type="checkbox" id="a3" name="listA_3" />
              <label for="a3"><em>탐사</em></label>
            </span>
            <span>
              <input type="checkbox" id="a4" name="listA_4" />
              <label for="a4"><em>연구</em></label>
            </span>
            <span>
              <input type="checkbox" id="a5" name="listA_5" />
              <label for="a5"><em>NOAA</em></label>
            </span>
            <span>
              <input type="checkbox" id="a6" name="listA_6" />
              <label for="a6"><em>NASA</em></label>
            </span>
            <span>
              <input type="checkbox" id="a7" name="listA_7" />
              <label for="a7"><em>발사체</em></label>
            </span>
          </div>
        </li>
        <li>
          <div class="chk-wrap-type02 hashTag">
            <span>
              <input type="checkbox" id="b" name="allChk_listB" />
              <label for="b"><em>항성천문학 전체</em></label>
            </span>
          </div>
          <div class="chk-wrap-type02 hashTag">
            <span>
              <input type="checkbox" id="b1" name="listB_1" />
              <label for="b1"><em>원시항성</em></label>
            </span>
            <span>
              <input type="checkbox" id="b2" name="listB_2" />
              <label for="b2"><em>적색거성</em></label>
            </span>
            <span>
              <input type="checkbox" id="b3" name="listB_3" />
              <label for="b3"><em>백색왜성</em></label>
            </span>
            <span>
              <input type="checkbox" id="b4" name="listB_4" />
              <label for="b4"><em>초신성</em></label>
            </span>
            <span>
              <input type="checkbox" id="b5" name="listB_5" />
              <label for="b5"><em>블랙홀</em></label>
            </span>
            <span>
              <input type="checkbox" id="b6" name="listB_6" />
              <label for="b6"><em>쌍성</em></label>
            </span>
            <span>
              <input type="checkbox" id="b7" name="listB_7" />
              <label for="b7"><em>관측장비</em></label>
            </span>
          </div>
        </li>
        <li>
          <div class="chk-wrap-type02 hashTag">
            <span>
              <input type="checkbox" id="c" name="allChk_listC" />
              <label for="c"><em>우주론 전체</em></label>
            </span>
          </div>
          <div class="chk-wrap-type02 hashTag">
            <span>
              <input type="checkbox" id="c1" name="listC_1" />
              <label for="c1"><em>빅뱅</em></label>
            </span>
            <span>
              <input type="checkbox" id="c2" name="listC_2" />
              <label for="c2"><em>인플레이션</em></label>
            </span>
            <span>
              <input type="checkbox" id="c3" name="listC_3" />
              <label for="c3"><em>순환우주론</em></label>
            </span>
            <span>
              <input type="checkbox" id="c4" name="listC_4" />
              <label for="c4"><em>웜홀</em></label>
            </span>
            <span>
              <input type="checkbox" id="c5" name="listC_5" />
              <label for="c5"><em>홀로그램</em></label>
            </span>
            <span>
              <input type="checkbox" id="c6" name="listC_6" />
              <label for="c6"><em>프랙탈</em></label>
            </span>
            <span>
              <input type="checkbox" id="c7" name="listC_7" />
              <label for="c7"><em>정상우주론</em></label>
            </span>
          </div>
        </li>
        <li>
          <div class="chk-wrap-type02 hashTag">
            <span>
              <input type="checkbox" id="d" name="allChk_listD" />
              <label for="d"><em>기기천문학 전체</em></label>
            </span>
          </div>
          <div class="chk-wrap-type02 hashTag">
            <span>
              <input type="checkbox" id="d1" name="listD_1" />
              <label for="d1"><em>전파망원경</em></label>
            </span>
            <span>
              <input type="checkbox" id="d2" name="listD_2" />
              <label for="d2"><em>제임스 웹 망원경</em></label>
            </span>
            <span>
              <input type="checkbox" id="d3" name="listD_3" />
              <label for="d3"><em>망원경 건설</em></label>
            </span>
            <span>
              <input type="checkbox" id="d4" name="listD_4" />
              <label for="d4"><em>소프트웨어 업그레이드</em></label>
            </span>
            <span>
              <input type="checkbox" id="d5" name="listD_5" />
              <label for="d5"><em>인공위성</em></label>
            </span>
            <span>
              <input type="checkbox" id="d6" name="listD_6" />
              <label for="d6"><em>중성미자 검출</em></label>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
