/**
 * ==============================+
 * footer
 * ==============================+
 */
footer {
  padding: 45px 0;
  text-align: center;
  background-color: $black;

  @include _bp(821px) {
    padding: 30px 0;
  }

  .copyright {
    line-height: 1;
    color: $white;
    font-size: 2rem;
  }
}
