/**
 * ==============================+
 * form style
 * ==============================+
 */

/*button*/
[class*='btn-wrap'] {
  width: 100%;
  text-align: left;
  font-size: 0;

  &.inline {
    width: auto;
    display: inline-block;
  }

  &.half {
    button {
      width: -webkit-calc((100% - 10px) / 2) !important;
      width: -moz-calc((100% - 10px) / 2) !important;
      width: calc((100% - 10px) / 2) !important;
      max-width: 206px;

      @include _bp(480px) {
        width: 100% !important;
        max-width: none;

        & + button {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
  }

  &.triple {
    button {
      width: -webkit-calc((100% - 20px) / 3) !important;
      width: -moz-calc((100% - 20px) / 3) !important;
      width: calc((100% - 20px) / 3) !important;
      max-width: 206px;

      @include _bp(480px) {
        width: 100% !important;
        max-width: none;

        & + button {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
  }

  & + .btn-wrap {
    margin-top: 10px;
  }
}

button {
  background-color: transparent;

  &[class*='btn-'] {
    display: inline-block;
    min-width: 110px;
    height: 34px;
    padding: 0;
    border: none;
    font-size: 0;
    position: relative;

    @include _bp(821px) {
      min-width: 90px;
      padding: 0 12px;
    }

    & + button {
      margin-left: 10px;
    }

    &.wide {
      width: 100%;
      height: 50px;

      em {
        font-size: 1.6rem;
      }
    }

    &.lg {
      min-width: 170px;
      height: 50px;

      @include _bp(821px) {
        min-width: 130px;
        height: 34px;
      }
    }

    &.md {
      min-width: 130px;

      @include _bp(821px) {
        min-width: 90px;
      }
    }

    &.sm {
      min-width: 80px;
      height: 45px;

      @include _bp(821px) {
        height: 38px;
      }
    }

    &.auto {
      min-width: auto;
      margin: 0;
    }

    &.rounded {
      border-radius: 5px;
    }

    &.border {
      border-width: 1px;
      border-style: solid;
      border-color: currentColor;
      color: $white;
    }

    /* background color */
    &.bg-gray {
      background-color: $gray;
      color: $white;
    }
    &.bg-blueGray {
      background-color: $blueGray;
      color: $white;
    }
    &.bg-navy {
      background-color: $navy;
      color: $white;
    }
    &.bg-navy2 {
      background-color: $navy2;
      color: $white;
    }
    &.bg-green {
      background-color: $green;
      color: $white;
    }
    &.bg-skyblue {
      background-color: $skyblue;
      color: $white;
    }
    &.bg-orange {
      background-color: $orange;
      color: $white;
    }

    em {
      display: inline-block;
      line-height: 1;
      position: relative;
      font-size: 1.4rem;
      font-weight: 400;
      vertical-align: middle;
      top: 1px;
    }
  }

  &.btn- {
    &prev,
    &next {
      border-radius: 30px;
      border: 2px solid $gray4;
      min-width: 80px;
      padding: 0;
      background-color: transparent;
      background-color: $white;

      em {
        font-weight: 600;
        font-size: 16px;
      }

      & + span {
        display: inline-block;
        margin: 0 20px;
        font-size: 15px;

        * {
          vertical-align: bottom;
        }

        b {
          font-size: 16px;
        }
      }
    }

    &search {
      min-width: 130px;

      @include _bp(821px) {
        min-width: 90px;
      }

      &::before {
        @include icon;
        @include icon-search;
        margin-right: 10px;
        vertical-align: bottom;
        content: '';

        @include _bp(821px) {
          margin-right: 5px;
        }
      }
    }
  }
}

/*select*/
.select-wrap {
  position: relative;
  display: inline-block;
  width: auto;
  height: 34px;
  border: none;
  vertical-align: baseline;
  font-size: 0;

  option {
    &.default {
      display: none !important;
    }
  }

  label {
    position: absolute;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);

    &::after {
      position: absolute;
      display: inline-block;
      @include icon;
      @include icon-arr-down;
      right: 10px;
      top: 50%;
      @include transform(translateY(-50%));
      content: '';
    }
  }

  select {
    position: relative;
    display: inline-block;
    min-width: 130px;
    width: 100%;
    padding: 0 30px 0 10px;
    line-height: 34px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: $gray3;
    z-index: 1;
    font-size: 1.4rem;

    &::-ms-expand {
      display: none;
    }
  }

  &.md {
    select {
      width: 210px;
    }
  }

  & + .text-wrap {
    margin-left: 10px;

    @include _bp(561px) {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  & + .select-wrap {
    margin-left: 10px;
  }
}

/*text*/
.text-wrap {
  width: 100%;
  display: inline-block;
  font-size: 0;
  vertical-align: baseline;

  input[type='text'] {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 1.4rem;
    color: $gray3;
    background-color: $white;
    box-shadow: none;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &:read-only {
      background-color: #f7f7f7;
      border: none;
      pointer-events: none;
    }
  }

  textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
    resize: none;
    color: $gray3;
  }

  &.has-button {
    input[type='text'] {
      width: -webkit-calc(100% - 140px);
      width: -moz-calc(100% - 140px);
      width: calc(100% - 140px);

      @include _bp(821px) {
        width: -webkit-calc(100% - 100px);
        width: -moz-calc(100% - 100px);
        width: calc(100% - 100px);
      }

      & + .btn-wrap {
        margin-left: 10px;
      }
    }

    textarea {
      width: -webkit-calc(100% - 130px);
      width: -moz-calc(100% - 130px);
      width: calc(100% - 130px);

      @include _bp(821px) {
        width: -webkit-calc(100% - 110px);
        width: -moz-calc(100% - 110px);
        width: calc(100% - 110px);
      }

      & + .btn-wrap {
        margin-left: 10px;

        button {
          min-width: 120px;
          height: 70px;

          @include _bp(821px) {
            min-width: 100px;
          }
        }
      }
    }

    &.double {
      input[type='text'] {
        width: -webkit-calc(100% - 280px);
        width: -moz-calc(100% - 280px);
        width: calc(100% - 280px);

        @include _bp(821px) {
          width: -webkit-calc(100% - 200px);
          width: -moz-calc(100% - 200px);
          width: calc(100% - 200px);
        }

        @include _bp(561px) {
          width: 100%;

          & + .btn-wrap {
            button {
              width: 49% !important;

              & + button {
                margin-left: 2% !important;
              }
            }
          }
        }
      }
    }
  }

  &.has-button2 {
    input[type='text'] {
      width: -webkit-calc(100% - 120px);
      width: -moz-calc(100% - 120px);
      width: calc(100% - 120px);

      @include _bp(821px) {
        width: -webkit-calc(100% - 100px);
        width: -moz-calc(100% - 100px);
        width: calc(100% - 100px);
      }

      & + .btn-wrap {
        margin-left: 10px;
      }
    }

    &.double {
      input[type='text'] {
        width: -webkit-calc(100% - 240px);
        width: -moz-calc(100% - 240px);
        width: calc(100% - 240px);

        @include _bp(821px) {
          width: -webkit-calc(100% - 200px);
          width: -moz-calc(100% - 200px);
          width: calc(100% - 200px);
        }

        @include _bp(561px) {
          width: 100%;

          & + .btn-wrap {
            button {
              width: 49% !important;

              & + button {
                margin-left: 2% !important;
              }
            }
          }
        }
      }
    }
  }

  &.calendar {
    width: 130px;
    position: relative;

    &.md {
      width: 100%;
      max-width: 210px;
    }

    &.both {
      @include _bp(561px) {
        width: -webkit-calc((100% - 30px) / 2);
        width: -moz-calc((100% - 30px) / 2);
        width: calc((100% - 30px) / 2);
      }
    }

    @include _bp(561px) {
      width: 100%;
    }

    input[type='text'] {
      padding-right: 37px;
    }

    &::after {
      @include icon;
      @include icon-calendar;
      position: absolute;
      top: 10px;
      right: 10px;
      pointer-events: none;
      content: '';
    }

    & + .calendar {
      margin-left: 30px;

      &::before {
        position: absolute;
        width: 30px;
        top: 50%;
        left: -30px;
        text-align: center;
        color: $gray3;
        font-weight: 700;
        font-size: 2rem;
        @include transform(translateY(-50%));
        content: '~';
      }
    }
  }

  &.time {
    width: 130px;
    position: relative;

    &.md {
      width: 100%;
      max-width: 210px;
    }

    &.both {
      width: -webkit-calc((100% - 30px) / 2);
      width: -moz-calc((100% - 30px) / 2);
      width: calc((100% - 30px) / 2);
    }

    input[type='text'] {
      padding-right: 37px;
    }

    &::after {
      @include icon;
      @include icon-time;
      position: absolute;
      top: 10px;
      right: 10px;
      pointer-events: none;
      content: '';
    }

    & + .time {
      margin-left: 30px;

      &::before {
        position: absolute;
        width: 30px;
        top: 50%;
        left: -30px;
        text-align: center;
        color: $gray3;
        font-weight: 700;
        font-size: 2rem;
        @include transform(translateY(-50%));
        content: '~';
      }
    }
  }

  @at-root .e_mail {
    display: grid;
    column-gap: 0;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);

    @include _bp(480px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .text-wrap,
    .select-wrap {
      width: 100%;
    }

    .text-wrap {
      & + .text-wrap {
        padding-left: 30px;
        margin: 0;
        position: relative;

        @include _bp(480px) {
          padding-left: 0;
        }

        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          line-height: 1;
          font-size: 1.6rem;
          z-index: 10;
          @include transform(translate(50%, -50%));
          content: '@';

          @include _bp(480px) {
            content: none;
            display: none;
          }
        }
      }
    }

    .select-wrap {
      padding-left: 10px;

      @include _bp(480px) {
        padding-left: 0;
      }

      select {
        @include _bp(561px) {
          min-width: auto;
        }
      }
    }
  }
}

/*radio*/
.radio-wrap {
  width: 100%;
  display: inline-block;

  span {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;

    input[type='radio'] {
      position: absolute;
      left: 0;
      top: 0;
      border: 0;
      width: 16px;
      height: 16px;
      opacity: 0;

      & + label {
        display: inline-block;
        padding-left: 16px;
        height: 16px;
        vertical-align: top;
        line-height: 1;

        &::after {
          position: absolute;
          left: 0;
          top: 0;
          width: 16px;
          height: 16px;
          border: 1px solid #d4dbe2;
          border-radius: 50%;
          content: '';

          @include _bp(561px) {
            top: -2px;
          }
        }

        &::before {
          position: absolute;
          left: 5px;
          top: 5px;
          width: 6px;
          height: 6px;
          border: none;
          border-radius: 50%;
          background-color: $navy2;
          z-index: 10;

          @include _bp(561px) {
            top: 3px;
          }
        }

        em {
          display: inline-block;
          line-height: 1;
          font-size: 1.7rem;
          vertical-align: top;
          margin-left: 10px;
          margin-top: -1px;
          color: $gray3;
        }
      }

      &:focus + label {
        outline: 1px dashed $navy;
        outline-offset: -1px;
      }

      &:checked {
        & + label {
          &::before {
            content: '';
          }

          &::after {
            border-color: $navy2;
          }
        }
      }
    }

    & + span {
      margin-left: 20px;

      &.text-wrap {
        margin-left: 10px;
      }
    }
  }

  &.has-button {
    width: -webkit-calc(100% - 140px);
    width: -moz-calc(100% - 140px);
    width: calc(100% - 140px);

    @include _bp(821px) {
      width: -webkit-calc(100% - 100px);
      width: -moz-calc(100% - 100px);
      width: calc(100% - 100px);
    }

    & + .btn-wrap {
      margin-left: 10px;
    }
  }

  & + .radio-wrap {
    margin-top: 10px;
  }
}

/*checkbox*/
.chk-wrap {
  &.inline {
    display: inline-block;
  }

  span {
    display: inline-block;
    font-size: 0;
    position: relative;

    input[type='checkbox'] {
      position: absolute;
      left: 0;
      top: 0;
      border: 0;
      width: 16px;
      height: 16px;
      opacity: 0;

      & + label {
        display: inline-block;
        padding-left: 16px;
        height: 16px;
        vertical-align: top;
        line-height: 16px;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 16px;
          height: 16px;
          border: 1px solid #d4dbe2;
          background-color: transparent;
          pointer-events: none;
          content: '';
        }

        &::after {
          position: absolute;
          left: 0;
          top: 50%;
          background-color: transparent;
          @include icon--retina;
          @include icon--retina-unchecked;
          @include transform(translateY(-50%));
          margin-left: 3px;
          pointer-events: none;
          content: '';
        }

        em {
          display: inline-block;
          line-height: 1;
          text-align: left;
          font-size: 1.4rem;
          margin-top: -1px;
          margin-left: 6px;
        }
      }

      &:checked {
        & + label {
          &::before {
            border-color: $navy;
            background-color: $navy;
          }

          &::after {
            @include icon--retina-checked;
          }
        }
      }
    }
    & + span {
      margin-left: 10px;
    }
  }
}

.chk-wrap-type02 {
  text-align: left;

  * {
    @include transition(none !important);
  }

  &.auto {
    span {
      input[type='checkbox'] {
        & + label {
          min-width: auto;
        }
      }
    }
  }

  span {
    display: inline-block;
    position: relative;
    font-size: 0;
    margin: 5px;

    @include _bp(561px) {
      margin: 3px;
    }

    input[type='checkbox'] {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 0;
      opacity: 0;
      z-index: 10;

      & + label {
        display: inline-block;
        width: auto;
        height: 100%;
        min-width: 73px;
        text-align: center;
        vertical-align: top;
        line-height: 35px;
        padding: 0 15px;
        color: #a5a5ad;
        overflow: hidden;
        position: relative;
        border: 1px solid #d4dbe3;
        border-radius: 30px;

        @include _bp(821px) {
          min-width: auto;
        }

        @include _bp(561px) {
          padding: 0 10px;
        }

        em {
          display: inline-block;
          line-height: 1;
          font-size: 1.4rem;
          position: relative;
          font-weight: 500;
          vertical-align: middle;
          z-index: 1;
        }
      }

      &:focus + label {
        outline: 1px dashed $navy;
        outline-offset: -1px;
      }

      &:checked + label {
        color: $white;
        background-color: $navy;
      }
    }
  }

  &.hashTag {
    span {
      label {
        em {
          &::before {
            margin-right: 2px;
            content: '#';
          }
        }
      }
    }
  }
}

/*file*/
.file-attach {
  font-size: 0;

  .text-wrap {
    width: -webkit-calc(100% - 160px);
    width: -moz-calc(100% - 160px);
    width: calc(100% - 160px);

    @include _bp(561px) {
      width: -webkit-calc(100% - 100px);
      width: -moz-calc(100% - 100px);
      width: calc(100% - 100px);
    }
  }
}

.file-wrap {
  display: inline-block;
  width: 130px;
  height: 38px;
  line-height: 38px;
  margin-left: 30px;
  overflow: hidden;
  position: relative;

  @include _bp(561px) {
    width: 90px;
    margin-left: 10px;
  }

  label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
    z-index: 10;
    background-color: $skyblue;

    em {
      display: inline-block;
      position: relative;
      color: $white;
      font-size: 1.7rem;
      line-height: 1;
      // top: -2px;
    }
  }
}

.file-attach-image {
  width: 417px;
  height: 234px;
  border: 1px solid $gray;
  float: left;
  overflow: hidden;
  position: relative;

  & + .file-attach {
    display: inline-block;
    width: -webkit-calc(100% - 440px);
    width: -moz-calc(100% - 440px);
    width: calc(100% - 440px);
    margin-left: 20px;
    vertical-align: top;

    & + .etc {
      display: inline-block;
      width: -webkit-calc(100% - 440px);
      width: -moz-calc(100% - 440px);
      width: calc(100% - 440px);
      margin-top: 50px;
      margin-left: 20px;

      .info-txt {
        &:first-of-type {
          margin-top: 0 !important;
        }
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}

/*paging*/
.paging {
  width: 100%;
  text-align: center;
  font-size: 0;
  margin-top: 30px;

  * {
    display: inline-block;
  }

  a,
  span {
    font-size: 1.4rem;
    width: 22px;
    height: 22px;
    line-height: 20px;
    margin: 0 5px;
  }

  a {
    color: #a5a6ac;

    &.first,
    &.prev,
    &.next,
    &.last {
      position: relative;
      margin: 0;
      border: 1px solid #d4dbe2;
      background-color: $white;
      border-radius: 5px;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translateX(-50%));
        @include icon;
        margin-top: -5px;
        content: '';
      }
    }

    &.first {
      &::before {
        @include icon-pg-first;
      }
    }

    &.prev {
      margin-left: 5px;
      margin-right: 10px;

      &::before {
        @include icon-pg-prev;
      }
    }

    &.next {
      margin-right: 5px;
      margin-left: 10px;

      &::before {
        @include icon-pg-next;
      }
    }

    &.last {
      &::before {
        @include icon-pg-last;
      }
    }
  }

  a:not(.first, .prev, .next, .last):hover,
  a:not(.first, .prev, .next, .last):focus,
  span {
    font-weight: 700;
    color: $navy2;
  }

  & + .btn-wrap {
    margin-top: 60px;
  }
}

/*table*/
[class*='tblStyle'] {
  border-top: 2px solid $navy;

  &.scrollable {
    overflow: hidden;
    overflow-x: auto;

    table {
      min-width: 821px;
    }
  }

  &.type-2 {
    border-top: none;

    table {
      th {
        background-color: #fafafa;
        b {
          font-size: 1.6rem;
        }
      }
      th,
      td {
        text-align: left;
        padding: 12px 10px;
        border-color: #e8e8e8;
        font-size: 0;

        span {
          font-size: 1.6rem;
          color: $gray3;
        }
      }
      tr:first-of-type {
        th,
        td {
          border-top-width: 1px;
        }
      }
    }
  }

  table {
    text-align: center;
    width: 100%;
    table-layout: fixed;

    thead th {
      border-color: $navy;
      height: 50px;
    }

    th,
    td {
      padding: 0;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 500;
      color: $gray2;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: #dadbe0;
      background-color: $white;
      white-space: normal;
      word-wrap: break-word;
      overflow-wrap: break-word;

      @include _bp(1024px) {
        font-size: 1.6rem;
      }
    }

    th {
      color: $gray3;
      font-weight: 700;

      * {
        vertical-align: top;
      }

      em {
        font-weight: 500;
      }
    }

    td {
      padding: 20px 0;

      &.tit {
        padding: 20px;
        text-align: left;

        @include _bp(1024px) {
          padding: 10px;
        }

        * {
          display: inline-block;
        }

        span,
        b {
          width: 100%;

          &.mgt {
            a {
              max-width: -webkit-calc(100% - 60px);
              max-width: -moz-calc(100% - 60px);
              max-width: calc(100% - 60px);
            }
          }

          a {
            @include ellipsis;
          }

          em {
            font-weight: 500;
            color: $gray3;
          }
        }

        b {
          color: $navy;
        }
      }

      span {
        display: inline-block;
        line-height: 1;
      }

      .name {
        font-size: 2rem;
        color: $navy;
      }
    }
  }

  ul {
    li {
      border-bottom: 1px solid $gray4;
      padding: 30px 15px;

      .tit {
        * {
          display: inline-block;
        }

        span,
        b {
          width: 100%;
          color: $navy;
        }

        span {
          color: $gray2;
        }

        a {
          @include ellipsis;
          line-height: 1;
          font-size: 1.6rem;

          @include _bp(821px) {
            white-space: normal;
            line-height: 1.4;
          }
        }
      }

      span {
        display: inline-block;
        line-height: 1;
      }

      dl {
        width: 100%;
        margin-top: 20px;
        font-size: 0;
        color: $blueGray;

        & + dl {
          margin-top: 7px;
        }

        dt,
        dd {
          display: inline-block;
          font-size: 1.6rem;
        }

        dt {
          font-weight: 700;

          &:not(:first-of-type) {
            padding-left: 20px;
            position: relative;

            &::before {
              position: absolute;
              width: 1px;
              height: 10px;
              background-color: $gray4;
              left: 10px;
              top: 50%;
              @include transform(translateY(-50%));
              content: '';
            }
          }
        }

        dd {
          margin-left: 5px;

          * {
            vertical-align: baseline;
          }

          & + dd {
            &::before {
              margin-right: 5px;
              content: '//';
            }
          }
        }
      }
    }
  }

  .btn-wrap:not(.inline) {
    margin-top: 50px;

    @include _bp(821px) {
      margin-top: 20px;
    }
  }

  & + .btn-wrap {
    margin-top: 30px;
  }
}
