  @mixin icon { display: inline-block; background-image: url($sprite-url); background-repeat: no-repeat; background-size:379px
  308px; } .icon { @include icon; } @mixin icon--retina { display: inline-block; background-image: url($sprite-url);
  background-repeat: no-repeat; background-size: -webkit-calc(379px
  / 2) -webkit-calc(308px
  / 2); background-size: -moz-calc(379px
  / 2) -moz-calc(308px
  / 2); background-size: calc(379px
  / 2) calc(308px
  / 2);}

  @mixin icon-arr-down{ width:10px; height:6px; background-position:-327px
  -112px; } .icon-arr-down
  { @include icon-arr-down; } @mixin icon--retina-arr-down{ width:-webkit-calc(10px
  / 2); width:-moz-calc(10px
  / 2); width:calc(10px
  / 2); height:-webkit-calc(6px
  / 2); height:-moz-calc(6px
  / 2); height:calc(6px
  / 2); background-position: -webkit-calc(-327px
  / 2) -webkit-calc(-112px
  / 2); background-position: -moz-calc(-327px
  / 2) -moz-calc(-112px
  / 2); background-position: calc(-327px
  / 2) calc(-112px
  / 2); }
  @mixin icon-arr-right-wh{ width:8px; height:14px; background-position:-370px
  -134px; } .icon-arr-right-wh
  { @include icon-arr-right-wh; } @mixin icon--retina-arr-right-wh{ width:-webkit-calc(8px
  / 2); width:-moz-calc(8px
  / 2); width:calc(8px
  / 2); height:-webkit-calc(14px
  / 2); height:-moz-calc(14px
  / 2); height:calc(14px
  / 2); background-position: -webkit-calc(-370px
  / 2) -webkit-calc(-134px
  / 2); background-position: -moz-calc(-370px
  / 2) -moz-calc(-134px
  / 2); background-position: calc(-370px
  / 2) calc(-134px
  / 2); }
  @mixin icon-arr-right2{ width:17px; height:26px; background-position:-345px
  -190px; } .icon-arr-right2
  { @include icon-arr-right2; } @mixin icon--retina-arr-right2{ width:-webkit-calc(17px
  / 2); width:-moz-calc(17px
  / 2); width:calc(17px
  / 2); height:-webkit-calc(26px
  / 2); height:-moz-calc(26px
  / 2); height:calc(26px
  / 2); background-position: -webkit-calc(-345px
  / 2) -webkit-calc(-190px
  / 2); background-position: -moz-calc(-345px
  / 2) -moz-calc(-190px
  / 2); background-position: calc(-345px
  / 2) calc(-190px
  / 2); }
  @mixin icon-arr-up{ width:10px; height:6px; background-position:-200px
  -135px; } .icon-arr-up
  { @include icon-arr-up; } @mixin icon--retina-arr-up{ width:-webkit-calc(10px
  / 2); width:-moz-calc(10px
  / 2); width:calc(10px
  / 2); height:-webkit-calc(6px
  / 2); height:-moz-calc(6px
  / 2); height:calc(6px
  / 2); background-position: -webkit-calc(-200px
  / 2) -webkit-calc(-135px
  / 2); background-position: -moz-calc(-200px
  / 2) -moz-calc(-135px
  / 2); background-position: calc(-200px
  / 2) calc(-135px
  / 2); }
  @mixin icon-arr{ width:35px; height:18px; background-position:-200px
  -112px; } .icon-arr
  { @include icon-arr; } @mixin icon--retina-arr{ width:-webkit-calc(35px
  / 2); width:-moz-calc(35px
  / 2); width:calc(35px
  / 2); height:-webkit-calc(18px
  / 2); height:-moz-calc(18px
  / 2); height:calc(18px
  / 2); background-position: -webkit-calc(-200px
  / 2) -webkit-calc(-112px
  / 2); background-position: -moz-calc(-200px
  / 2) -moz-calc(-112px
  / 2); background-position: calc(-200px
  / 2) calc(-112px
  / 2); }
  @mixin icon-calendar{ width:18px; height:16px; background-position:-263px
  -112px; } .icon-calendar
  { @include icon-calendar; } @mixin icon--retina-calendar{ width:-webkit-calc(18px
  / 2); width:-moz-calc(18px
  / 2); width:calc(18px
  / 2); height:-webkit-calc(16px
  / 2); height:-moz-calc(16px
  / 2); height:calc(16px
  / 2); background-position: -webkit-calc(-263px
  / 2) -webkit-calc(-112px
  / 2); background-position: -moz-calc(-263px
  / 2) -moz-calc(-112px
  / 2); background-position: calc(-263px
  / 2) calc(-112px
  / 2); }
  @mixin icon-camera{ width:28px; height:19px; background-position:-345px
  -110px; } .icon-camera
  { @include icon-camera; } @mixin icon--retina-camera{ width:-webkit-calc(28px
  / 2); width:-moz-calc(28px
  / 2); width:calc(28px
  / 2); height:-webkit-calc(19px
  / 2); height:-moz-calc(19px
  / 2); height:calc(19px
  / 2); background-position: -webkit-calc(-345px
  / 2) -webkit-calc(-110px
  / 2); background-position: -moz-calc(-345px
  / 2) -moz-calc(-110px
  / 2); background-position: calc(-345px
  / 2) calc(-110px
  / 2); }
  @mixin icon-caution{ width:19px; height:19px; background-position:-200px
  -150px; } .icon-caution
  { @include icon-caution; } @mixin icon--retina-caution{ width:-webkit-calc(19px
  / 2); width:-moz-calc(19px
  / 2); width:calc(19px
  / 2); height:-webkit-calc(19px
  / 2); height:-moz-calc(19px
  / 2); height:calc(19px
  / 2); background-position: -webkit-calc(-200px
  / 2) -webkit-calc(-150px
  / 2); background-position: -moz-calc(-200px
  / 2) -moz-calc(-150px
  / 2); background-position: calc(-200px
  / 2) calc(-150px
  / 2); }
  @mixin icon-checked{ width:22px; height:18px; background-position:-345px
  -247px; } .icon-checked
  { @include icon-checked; } @mixin icon--retina-checked{ width:-webkit-calc(22px
  / 2); width:-moz-calc(22px
  / 2); width:calc(22px
  / 2); height:-webkit-calc(18px
  / 2); height:-moz-calc(18px
  / 2); height:calc(18px
  / 2); background-position: -webkit-calc(-345px
  / 2) -webkit-calc(-247px
  / 2); background-position: -moz-calc(-345px
  / 2) -moz-calc(-247px
  / 2); background-position: calc(-345px
  / 2) calc(-247px
  / 2); }
  @mixin icon-close-wh-2x{ width:30px; height:30px; background-position:-345px
  -46px; } .icon-close-wh-2x
  { @include icon-close-wh-2x; } @mixin icon--retina-close-wh-2x{ width:-webkit-calc(30px
  / 2); width:-moz-calc(30px
  / 2); width:calc(30px
  / 2); height:-webkit-calc(30px
  / 2); height:-moz-calc(30px
  / 2); height:calc(30px
  / 2); background-position: -webkit-calc(-345px
  / 2) -webkit-calc(-46px
  / 2); background-position: -moz-calc(-345px
  / 2) -moz-calc(-46px
  / 2); background-position: calc(-345px
  / 2) calc(-46px
  / 2); }
  @mixin icon-close{ width:16px; height:16px; background-position:-286px
  -112px; } .icon-close
  { @include icon-close; } @mixin icon--retina-close{ width:-webkit-calc(16px
  / 2); width:-moz-calc(16px
  / 2); width:calc(16px
  / 2); height:-webkit-calc(16px
  / 2); height:-moz-calc(16px
  / 2); height:calc(16px
  / 2); background-position: -webkit-calc(-286px
  / 2) -webkit-calc(-112px
  / 2); background-position: -moz-calc(-286px
  / 2) -moz-calc(-112px
  / 2); background-position: calc(-286px
  / 2) calc(-112px
  / 2); }
  @mixin icon-folder{ width:25px; height:20px; background-position:-345px
  -165px; } .icon-folder
  { @include icon-folder; } @mixin icon--retina-folder{ width:-webkit-calc(25px
  / 2); width:-moz-calc(25px
  / 2); width:calc(25px
  / 2); height:-webkit-calc(20px
  / 2); height:-moz-calc(20px
  / 2); height:calc(20px
  / 2); background-position: -webkit-calc(-345px
  / 2) -webkit-calc(-165px
  / 2); background-position: -moz-calc(-345px
  / 2) -moz-calc(-165px
  / 2); background-position: calc(-345px
  / 2) calc(-165px
  / 2); }
  @mixin icon-live{ width:9px; height:11px; background-position:-363px
  -293px; } .icon-live
  { @include icon-live; } @mixin icon--retina-live{ width:-webkit-calc(9px
  / 2); width:-moz-calc(9px
  / 2); width:calc(9px
  / 2); height:-webkit-calc(11px
  / 2); height:-moz-calc(11px
  / 2); height:calc(11px
  / 2); background-position: -webkit-calc(-363px
  / 2) -webkit-calc(-293px
  / 2); background-position: -moz-calc(-363px
  / 2) -moz-calc(-293px
  / 2); background-position: calc(-363px
  / 2) calc(-293px
  / 2); }
  @mixin icon-member-2x{ width:36px; height:38px; background-position:-110px
  -248px; } .icon-member-2x
  { @include icon-member-2x; } @mixin icon--retina-member-2x{ width:-webkit-calc(36px
  / 2); width:-moz-calc(36px
  / 2); width:calc(36px
  / 2); height:-webkit-calc(38px
  / 2); height:-moz-calc(38px
  / 2); height:calc(38px
  / 2); background-position: -webkit-calc(-110px
  / 2) -webkit-calc(-248px
  / 2); background-position: -moz-calc(-110px
  / 2) -moz-calc(-248px
  / 2); background-position: calc(-110px
  / 2) calc(-248px
  / 2); }
  @mixin icon-mic{ width:20px; height:26px; background-position:-345px
  -134px; } .icon-mic
  { @include icon-mic; } @mixin icon--retina-mic{ width:-webkit-calc(20px
  / 2); width:-moz-calc(20px
  / 2); width:calc(20px
  / 2); height:-webkit-calc(26px
  / 2); height:-moz-calc(26px
  / 2); height:calc(26px
  / 2); background-position: -webkit-calc(-345px
  / 2) -webkit-calc(-134px
  / 2); background-position: -moz-calc(-345px
  / 2) -moz-calc(-134px
  / 2); background-position: calc(-345px
  / 2) calc(-134px
  / 2); }
  @mixin icon-miceNice--active{ width:195px; height:32px; background-position:0px
  -150px; } .icon-miceNice--active
  { @include icon-miceNice--active; } @mixin icon--retina-miceNice--active{ width:-webkit-calc(195px
  / 2); width:-moz-calc(195px
  / 2); width:calc(195px
  / 2); height:-webkit-calc(32px
  / 2); height:-moz-calc(32px
  / 2); height:calc(32px
  / 2); background-position: -webkit-calc(0px
  / 2) -webkit-calc(-150px
  / 2); background-position: -moz-calc(0px
  / 2) -moz-calc(-150px
  / 2); background-position: calc(0px
  / 2) calc(-150px
  / 2); }
  @mixin icon-miceNice{ width:195px; height:33px; background-position:0px
  -112px; } .icon-miceNice
  { @include icon-miceNice; } @mixin icon--retina-miceNice{ width:-webkit-calc(195px
  / 2); width:-moz-calc(195px
  / 2); width:calc(195px
  / 2); height:-webkit-calc(33px
  / 2); height:-moz-calc(33px
  / 2); height:calc(33px
  / 2); background-position: -webkit-calc(0px
  / 2) -webkit-calc(-112px
  / 2); background-position: -moz-calc(0px
  / 2) -moz-calc(-112px
  / 2); background-position: calc(0px
  / 2) calc(-112px
  / 2); }
  @mixin icon-micePlatform--active-2x{ width:340px; height:52px; background-position:0px
  0px; } .icon-micePlatform--active-2x
  { @include icon-micePlatform--active-2x; } @mixin icon--retina-micePlatform--active-2x{ width:-webkit-calc(340px
  / 2); width:-moz-calc(340px
  / 2); width:calc(340px
  / 2); height:-webkit-calc(52px
  / 2); height:-moz-calc(52px
  / 2); height:calc(52px
  / 2); background-position: -webkit-calc(0px
  / 2) -webkit-calc(0px
  / 2); background-position: -moz-calc(0px
  / 2) -moz-calc(0px
  / 2); background-position: calc(0px
  / 2) calc(0px
  / 2); }
  @mixin icon-micePlatform--active{ width:170px; height:26px; background-position:0px
  -187px; } .icon-micePlatform--active
  { @include icon-micePlatform--active; } @mixin icon--retina-micePlatform--active{ width:-webkit-calc(170px
  / 2); width:-moz-calc(170px
  / 2); width:calc(170px
  / 2); height:-webkit-calc(26px
  / 2); height:-moz-calc(26px
  / 2); height:calc(26px
  / 2); background-position: -webkit-calc(0px
  / 2) -webkit-calc(-187px
  / 2); background-position: -moz-calc(0px
  / 2) -moz-calc(-187px
  / 2); background-position: calc(0px
  / 2) calc(-187px
  / 2); }
  @mixin icon-micePlatform-2x{ width:338px; height:50px; background-position:0px
  -57px; } .icon-micePlatform-2x
  { @include icon-micePlatform-2x; } @mixin icon--retina-micePlatform-2x{ width:-webkit-calc(338px
  / 2); width:-moz-calc(338px
  / 2); width:calc(338px
  / 2); height:-webkit-calc(50px
  / 2); height:-moz-calc(50px
  / 2); height:calc(50px
  / 2); background-position: -webkit-calc(0px
  / 2) -webkit-calc(-57px
  / 2); background-position: -moz-calc(0px
  / 2) -moz-calc(-57px
  / 2); background-position: calc(0px
  / 2) calc(-57px
  / 2); }
  @mixin icon-micePlatform{ width:169px; height:25px; background-position:0px
  -218px; } .icon-micePlatform
  { @include icon-micePlatform; } @mixin icon--retina-micePlatform{ width:-webkit-calc(169px
  / 2); width:-moz-calc(169px
  / 2); width:calc(169px
  / 2); height:-webkit-calc(25px
  / 2); height:-moz-calc(25px
  / 2); height:calc(25px
  / 2); background-position: -webkit-calc(0px
  / 2) -webkit-calc(-218px
  / 2); background-position: -moz-calc(0px
  / 2) -moz-calc(-218px
  / 2); background-position: calc(0px
  / 2) calc(-218px
  / 2); }
  @mixin icon-more{ width:36px; height:36px; background-position:-151px
  -248px; } .icon-more
  { @include icon-more; } @mixin icon--retina-more{ width:-webkit-calc(36px
  / 2); width:-moz-calc(36px
  / 2); width:calc(36px
  / 2); height:-webkit-calc(36px
  / 2); height:-moz-calc(36px
  / 2); height:calc(36px
  / 2); background-position: -webkit-calc(-151px
  / 2) -webkit-calc(-248px
  / 2); background-position: -moz-calc(-151px
  / 2) -moz-calc(-248px
  / 2); background-position: calc(-151px
  / 2) calc(-248px
  / 2); }
  @mixin icon-pg-first{ width:10px; height:10px; background-position:-367px
  -190px; } .icon-pg-first
  { @include icon-pg-first; } @mixin icon--retina-pg-first{ width:-webkit-calc(10px
  / 2); width:-moz-calc(10px
  / 2); width:calc(10px
  / 2); height:-webkit-calc(10px
  / 2); height:-moz-calc(10px
  / 2); height:calc(10px
  / 2); background-position: -webkit-calc(-367px
  / 2) -webkit-calc(-190px
  / 2); background-position: -moz-calc(-367px
  / 2) -moz-calc(-190px
  / 2); background-position: calc(-367px
  / 2) calc(-190px
  / 2); }
  @mixin icon-pg-last{ width:10px; height:10px; background-position:-367px
  -205px; } .icon-pg-last
  { @include icon-pg-last; } @mixin icon--retina-pg-last{ width:-webkit-calc(10px
  / 2); width:-moz-calc(10px
  / 2); width:calc(10px
  / 2); height:-webkit-calc(10px
  / 2); height:-moz-calc(10px
  / 2); height:calc(10px
  / 2); background-position: -webkit-calc(-367px
  / 2) -webkit-calc(-205px
  / 2); background-position: -moz-calc(-367px
  / 2) -moz-calc(-205px
  / 2); background-position: calc(-367px
  / 2) calc(-205px
  / 2); }
  @mixin icon-pg-next{ width:6px; height:10px; background-position:-371px
  -221px; } .icon-pg-next
  { @include icon-pg-next; } @mixin icon--retina-pg-next{ width:-webkit-calc(6px
  / 2); width:-moz-calc(6px
  / 2); width:calc(6px
  / 2); height:-webkit-calc(10px
  / 2); height:-moz-calc(10px
  / 2); height:calc(10px
  / 2); background-position: -webkit-calc(-371px
  / 2) -webkit-calc(-221px
  / 2); background-position: -moz-calc(-371px
  / 2) -moz-calc(-221px
  / 2); background-position: calc(-371px
  / 2) calc(-221px
  / 2); }
  @mixin icon-pg-prev{ width:6px; height:10px; background-position:-372px
  -247px; } .icon-pg-prev
  { @include icon-pg-prev; } @mixin icon--retina-pg-prev{ width:-webkit-calc(6px
  / 2); width:-moz-calc(6px
  / 2); width:calc(6px
  / 2); height:-webkit-calc(10px
  / 2); height:-moz-calc(10px
  / 2); height:calc(10px
  / 2); background-position: -webkit-calc(-372px
  / 2) -webkit-calc(-247px
  / 2); background-position: -moz-calc(-372px
  / 2) -moz-calc(-247px
  / 2); background-position: calc(-372px
  / 2) calc(-247px
  / 2); }
  @mixin icon-play{ width:34px; height:41px; background-position:-345px
  0px; } .icon-play
  { @include icon-play; } @mixin icon--retina-play{ width:-webkit-calc(34px
  / 2); width:-moz-calc(34px
  / 2); width:calc(34px
  / 2); height:-webkit-calc(41px
  / 2); height:-moz-calc(41px
  / 2); height:calc(41px
  / 2); background-position: -webkit-calc(-345px
  / 2) -webkit-calc(0px
  / 2); background-position: -moz-calc(-345px
  / 2) -moz-calc(0px
  / 2); background-position: calc(-345px
  / 2) calc(0px
  / 2); }
  @mixin icon-recording{ width:6px; height:6px; background-position:-370px
  -153px; } .icon-recording
  { @include icon-recording; } @mixin icon--retina-recording{ width:-webkit-calc(6px
  / 2); width:-moz-calc(6px
  / 2); width:calc(6px
  / 2); height:-webkit-calc(6px
  / 2); height:-moz-calc(6px
  / 2); height:calc(6px
  / 2); background-position: -webkit-calc(-370px
  / 2) -webkit-calc(-153px
  / 2); background-position: -moz-calc(-370px
  / 2) -moz-calc(-153px
  / 2); background-position: calc(-370px
  / 2) calc(-153px
  / 2); }
  @mixin icon-search{ width:13px; height:12px; background-position:-345px
  -293px; } .icon-search
  { @include icon-search; } @mixin icon--retina-search{ width:-webkit-calc(13px
  / 2); width:-moz-calc(13px
  / 2); width:calc(13px
  / 2); height:-webkit-calc(12px
  / 2); height:-moz-calc(12px
  / 2); height:calc(12px
  / 2); background-position: -webkit-calc(-345px
  / 2) -webkit-calc(-293px
  / 2); background-position: -moz-calc(-345px
  / 2) -moz-calc(-293px
  / 2); background-position: calc(-345px
  / 2) calc(-293px
  / 2); }
  @mixin icon-send{ width:21px; height:21px; background-position:-345px
  -221px; } .icon-send
  { @include icon-send; } @mixin icon--retina-send{ width:-webkit-calc(21px
  / 2); width:-moz-calc(21px
  / 2); width:calc(21px
  / 2); height:-webkit-calc(21px
  / 2); height:-moz-calc(21px
  / 2); height:calc(21px
  / 2); background-position: -webkit-calc(-345px
  / 2) -webkit-calc(-221px
  / 2); background-position: -moz-calc(-345px
  / 2) -moz-calc(-221px
  / 2); background-position: calc(-345px
  / 2) calc(-221px
  / 2); }
  @mixin icon-setting{ width:24px; height:24px; background-position:-345px
  -81px; } .icon-setting
  { @include icon-setting; } @mixin icon--retina-setting{ width:-webkit-calc(24px
  / 2); width:-moz-calc(24px
  / 2); width:calc(24px
  / 2); height:-webkit-calc(24px
  / 2); height:-moz-calc(24px
  / 2); height:calc(24px
  / 2); background-position: -webkit-calc(-345px
  / 2) -webkit-calc(-81px
  / 2); background-position: -moz-calc(-345px
  / 2) -moz-calc(-81px
  / 2); background-position: calc(-345px
  / 2) calc(-81px
  / 2); }
  @mixin icon-signIn-gr{ width:15px; height:16px; background-position:-307px
  -112px; } .icon-signIn-gr
  { @include icon-signIn-gr; } @mixin icon--retina-signIn-gr{ width:-webkit-calc(15px
  / 2); width:-moz-calc(15px
  / 2); width:calc(15px
  / 2); height:-webkit-calc(16px
  / 2); height:-moz-calc(16px
  / 2); height:calc(16px
  / 2); background-position: -webkit-calc(-307px
  / 2) -webkit-calc(-112px
  / 2); background-position: -moz-calc(-307px
  / 2) -moz-calc(-112px
  / 2); background-position: calc(-307px
  / 2) calc(-112px
  / 2); }
  @mixin icon-signIn{ width:15px; height:16px; background-position:-224px
  -150px; } .icon-signIn
  { @include icon-signIn; } @mixin icon--retina-signIn{ width:-webkit-calc(15px
  / 2); width:-moz-calc(15px
  / 2); width:calc(15px
  / 2); height:-webkit-calc(16px
  / 2); height:-moz-calc(16px
  / 2); height:calc(16px
  / 2); background-position: -webkit-calc(-224px
  / 2) -webkit-calc(-150px
  / 2); background-position: -moz-calc(-224px
  / 2) -moz-calc(-150px
  / 2); background-position: calc(-224px
  / 2) calc(-150px
  / 2); }
  @mixin icon-signOut-2x{ width:60px; height:60px; background-position:0px
  -248px; } .icon-signOut-2x
  { @include icon-signOut-2x; } @mixin icon--retina-signOut-2x{ width:-webkit-calc(60px
  / 2); width:-moz-calc(60px
  / 2); width:calc(60px
  / 2); height:-webkit-calc(60px
  / 2); height:-moz-calc(60px
  / 2); height:calc(60px
  / 2); background-position: -webkit-calc(0px
  / 2) -webkit-calc(-248px
  / 2); background-position: -moz-calc(0px
  / 2) -moz-calc(-248px
  / 2); background-position: calc(0px
  / 2) calc(-248px
  / 2); }
  @mixin icon-signOut{ width:40px; height:40px; background-position:-65px
  -248px; } .icon-signOut
  { @include icon-signOut; } @mixin icon--retina-signOut{ width:-webkit-calc(40px
  / 2); width:-moz-calc(40px
  / 2); width:calc(40px
  / 2); height:-webkit-calc(40px
  / 2); height:-moz-calc(40px
  / 2); height:calc(40px
  / 2); background-position: -webkit-calc(-65px
  / 2) -webkit-calc(-248px
  / 2); background-position: -moz-calc(-65px
  / 2) -moz-calc(-248px
  / 2); background-position: calc(-65px
  / 2) calc(-248px
  / 2); }
  @mixin icon-signUp-gr{ width:15px; height:16px; background-position:-244px
  -150px; } .icon-signUp-gr
  { @include icon-signUp-gr; } @mixin icon--retina-signUp-gr{ width:-webkit-calc(15px
  / 2); width:-moz-calc(15px
  / 2); width:calc(15px
  / 2); height:-webkit-calc(16px
  / 2); height:-moz-calc(16px
  / 2); height:calc(16px
  / 2); background-position: -webkit-calc(-244px
  / 2) -webkit-calc(-150px
  / 2); background-position: -moz-calc(-244px
  / 2) -moz-calc(-150px
  / 2); background-position: calc(-244px
  / 2) calc(-150px
  / 2); }
  @mixin icon-signUp{ width:15px; height:16px; background-position:-264px
  -150px; } .icon-signUp
  { @include icon-signUp; } @mixin icon--retina-signUp{ width:-webkit-calc(15px
  / 2); width:-moz-calc(15px
  / 2); width:calc(15px
  / 2); height:-webkit-calc(16px
  / 2); height:-moz-calc(16px
  / 2); height:calc(16px
  / 2); background-position: -webkit-calc(-264px
  / 2) -webkit-calc(-150px
  / 2); background-position: -moz-calc(-264px
  / 2) -moz-calc(-150px
  / 2); background-position: calc(-264px
  / 2) calc(-150px
  / 2); }
  @mixin icon-time{ width:18px; height:18px; background-position:-240px
  -112px; } .icon-time
  { @include icon-time; } @mixin icon--retina-time{ width:-webkit-calc(18px
  / 2); width:-moz-calc(18px
  / 2); width:calc(18px
  / 2); height:-webkit-calc(18px
  / 2); height:-moz-calc(18px
  / 2); height:calc(18px
  / 2); background-position: -webkit-calc(-240px
  / 2) -webkit-calc(-112px
  / 2); background-position: -moz-calc(-240px
  / 2) -moz-calc(-112px
  / 2); background-position: calc(-240px
  / 2) calc(-112px
  / 2); }
  @mixin icon-unchecked{ width:22px; height:18px; background-position:-345px
  -270px; } .icon-unchecked
  { @include icon-unchecked; } @mixin icon--retina-unchecked{ width:-webkit-calc(22px
  / 2); width:-moz-calc(22px
  / 2); width:calc(22px
  / 2); height:-webkit-calc(18px
  / 2); height:-moz-calc(18px
  / 2); height:calc(18px
  / 2); background-position: -webkit-calc(-345px
  / 2) -webkit-calc(-270px
  / 2); background-position: -moz-calc(-345px
  / 2) -moz-calc(-270px
  / 2); background-position: calc(-345px
  / 2) calc(-270px
  / 2); }
