/**
 * ==============================+
 * modal
 * ==============================+
 */

.modal {
  opacity: 0;
  pointer-events: none;
  text-align: center;
  position: fixed;
  width: auto;
  max-width: 95%;
  top: 50%;
  left: 50%;
  z-index: 1000;
  background-color: $white;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  letter-spacing: -0.7px;
  @include transform(translate(-50%, -50%));

  &#modal-setCamera {
    width: 280px;
  }

  .modal-header {
    padding: 20px;
    border-bottom: 1px solid #e8e8e8;

    h4 {
      font-size: 2rem;
      line-height: 1;
    }

    .btn-close-modal {
      position: absolute;
      top: 20px;
      right: 20px;
      min-width: auto;
      padding: 0;
      height: auto;

      &::before {
        @include icon;
        @include icon-close;
        content: '';
      }
    }
  }

  .modal-body {
    padding: 25px 20px 30px;

    .modal-title {
      font-size: 0;

      h5 {
        display: inline-block;
        width: 100%;
        line-height: 1.4;
        font-size: 1.6rem;
        position: relative;
      }
    }

    .modal-info {
      dl {
        display: table;
        width: 100%;

        dt,
        dd {
          display: table-cell;
          width: auto;
          font-size: 1.6rem;
          height: 50px;
        }
        dt {
          width: 140px;
          background-color: $navy2;
          color: $white;
          text-align: center;

          @include _bp(561px) {
            width: 100px;
          }
        }
        dd {
          padding: 0 10px;
          border-width: 0 0 1px 0;
          border-style: solid;
          border-color: #e8e8e8;

          b {
            @include line-clamp2;
          }
        }
      }
    }
  }

  .modal-contents {
    margin-top: 20px;

    .info {
      margin-top: 20px;
    }
  }

  &.type2 {
    width: 800px;

    &#modal-setSurvey {
      .modal-body {
        .modal-title {
          h5 {
            font-size: 1.8rem;
            width: -webkit-calc(100% - 130px);
            width: -moz-calc(100% - 130px);
            width: calc(100% - 130px);

            @include _bp(821px) {
              width: -webkit-calc(100% - 110px);
              width: -moz-calc(100% - 110px);
              width: calc(100% - 110px);
            }
          }

          button {
            margin-left: 20px;
          }
        }
      }
    }

    &#modal-setMatchmaking {
      .modal-body {
        .modal-title {
          h5 {
            padding-left: 25px;

            &::before {
              @include icon;
              @include icon-caution;
              position: absolute;
              top: 50%;
              left: 0;
              @include transform(translateY(-50%));
              content: '';
            }
          }
        }
      }

      .modal-contents {
        margin-top: 0;
      }
    }

    &#modal-voteResult,
    &#modal-voteSurvey {
      width: 580px;
    }

    .modal-body {
      padding: 0 0 30px;

      .modal-title {
        padding: 10px 20px;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #e8e8e8;
      }
    }

    .modal-contents {
      padding: 0 20px;

      .surveyList {
        column-gap: 20px;
        row-gap: 20px;

        @include _bp(821px) {
          max-height: 45vh;
          overflow-y: auto;
        }

        li {
          > dl {
            text-align: center;

            dt {
              background-color: $blueGray;
              border-radius: 10px 10px 0 0;
              color: $white;
              font-size: 1.6rem;
              line-height: 50px;

              b {
                line-height: 1;
              }
            }

            dd {
              border: 1px solid $blueGray;
              border-radius: 0 0 10px 10px;
              padding: 20px;

              > div {
                line-height: 1;

                & + hr {
                  margin: 2rem 0;
                  border-color: #e8e8e8;
                }

                * {
                  vertical-align: middle;
                  font-size: 1.6rem;
                  line-height: 1.4;
                }

                &.total {
                  b {
                    font-size: 2rem;
                  }
                }

                &.period {
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }

      .createSurvey {
        dl {
          column-gap: 0;
          row-gap: 20px;
          grid-template-columns: 1fr 8.5fr;

          @include _bp(561px) {
            grid-template-columns: auto;
          }

          dt {
            font-size: 1.6rem;
          }

          & + .btn-wrap {
            margin-top: 30px;
          }
        }

        .list {
          div {
            & + div {
              margin-top: 10px;
            }
          }
          & + .btn-wrap {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 10px;
            row-gap: 10px;
            margin-top: 10px;

            button {
              margin: 0;
            }
          }
        }
      }

      .inviteConference {
        dl {
          column-gap: 0;
          row-gap: 20px;
          grid-template-columns: 1fr 6fr;

          @include _bp(561px) {
            grid-template-columns: auto;
          }

          dt {
            font-size: 1.6rem;
          }

          dd {
            font-size: 0;
          }

          & + .btn-wrap {
            margin-top: 30px;
          }
        }
      }

      .editRecord {
        margin-bottom: 20px;

        .recordItem {
          font-size: 1.6rem;
          @include align-items('center');

          @include _bp(561px) {
            flex-direction: column;
            -ms-flex-direction: column;
            @include align-items('flex-start');
          }

          .flex--wrap {
            @include align-items('center');

            span {
              & + span {
                margin-left: 10px;
              }
            }
          }

          & + div {
            margin-top: 10px;
          }

          div {
            & + div {
              margin-left: 10px;

              @include _bp(561px) {
                margin-top: 10px;
                margin-left: 0;
              }
            }
          }

          .setTime {
            width: 34px;
            height: 34px;
            padding: 7px 0;
            background-color: #f6f6f6;
            border-radius: 5px;

            button {
              display: block;
              margin: 0 auto;
              font-size: 0;

              &.increase {
                &::before {
                  @include icon;
                  @include icon-arr-up;
                  content: '';
                }
              }

              &.decrease {
                margin-top: 8px;

                &::before {
                  @include icon;
                  @include icon-arr-down;
                  content: '';
                }
              }
            }
          }

          .text-wrap {
            width: 550px;
            font-size: 0;

            @include _bp(561px) {
              width: 100%;
            }

            input[type='text'] {
              color: $gray2;
            }

            button {
              em {
                font-size: 1.6rem;
              }
            }
          }
        }
      }

      .viewRecord {
        .recordItem {
          font-size: 1.6rem;
          color: #a5a6ac;

          span {
            margin-left: 10px;
          }

          p {
            color: $gray3;
            margin-left: 10px;
          }

          & + div {
            margin-top: 10px;
          }
        }
      }

      .saveRecord {
        > div {
          @include align-items('center');

          @include _bp(561px) {
            flex-direction: column;
            -ms-flex-direction: column;
            @include align-items('flex-start');
          }

          div {
            font-size: 1.6rem;

            & + div {
              margin-left: 10px;

              @include _bp(561px) {
                margin-top: 10px;
                margin-left: 0;
              }
            }
          }

          .text-wrap {
            width: 600px;
            font-size: 0;

            @include _bp(561px) {
              width: 100%;
            }

            textarea {
              border-radius: 10px;
              background-color: #f6f6f6;
              min-height: 70px;
            }

            button {
              em {
                font-size: 1.6rem;
              }
            }
          }
        }
      }

      .voteList {
        dt {
          background-color: $blueGray;
          border-radius: 10px 10px 0 0;
          color: $white;
          font-size: 1.6rem;
          line-height: 50px;
          text-align: center;

          b {
            line-height: 1;
          }
        }

        dd {
          border: 1px solid $blueGray;
          border-radius: 0 0 10px 10px;
          padding: 20px;
        }

        & + .btn-wrap {
          margin-top: 30px;

          button {
            max-width: 206px;
          }
        }
      }

      .voteResult {
        dt {
          background-color: $blueGray;
          border-radius: 10px 10px 0 0;
          color: $white;
          font-size: 1.6rem;
          line-height: 50px;
          text-align: center;
          position: relative;

          b {
            line-height: 1;
          }

          span {
            position: absolute;
            right: 20px;
            top: 50%;
            line-height: 1;
            @include transform(translateY(-50%));
            font-size: 1.4rem;

            * {
              vertical-align: top;
            }
          }
        }

        dd {
          border: 1px solid $blueGray;
          border-radius: 0 0 10px 10px;
          padding: 20px;
        }
        .chart {
          position: relative;
          height: 34px;
          padding: 0;
          background-color: #f7f7f7;
          border-radius: 5px;

          .data {
            width: 0;
            height: 100%;
            color: $white;
            position: relative;
            overflow: hidden;

            b {
              position: relative;
              margin-left: 10px;
            }

            &::before {
              background-color: $orange;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              border-radius: 5px;
              content: '';
            }
          }

          .count {
            padding-left: 10px;
            color: $gray2;
          }

          .percentage {
            position: absolute;
            right: 10px;
            top: 50%;
            @include transform(translateY(-50%));
            color: $orange;
          }
        }
      }

      .chkList {
        @include _bp(821px) {
          max-height: 55vh;
          overflow-y: auto;
        }

        li {
          padding: 15px 0;

          & + li {
            border-top: 1px solid #e8e8e8;
          }
          > div {
            position: relative;
            left: -5px;

            @include _bp(561px) {
              left: -3px;
            }
          }
        }
      }
    }
  }
}

.dimmed {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;

  &.fixed {
    z-index: 999;
  }
}
