//variable

//color
$black: #000;
$black2: #121212;
$white: #fff;
$softGray: #ced8ef;
$gray: #333;
$gray2: #666;
$gray3: #222;
$gray4: #c1c3cd;
$gray5: #d1d1d1;
$gray6: #444;
$blueGray: #4f5262;
$blueGray2: #707382;
$skyblue: #23c0ff;
$skyblue2: #01d3f5;
$babyblue: #009ddc;
$navy: #070e30;
$navy2: #0a0d2f;
$yellow: #f9d428;
$green: #55d7c1;
$mint: #3dffde;
$red: #dc4324;
$pink: #fc2e89;
$purple: #7022f6;
$orange: #ff7522;

//sprite url
$sprite-url: '../images/img-sprite.png';
