<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html', { page_main: false, page_title:'웨비나 관리' })
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header id="gnb">@@include('../include/gnb.html', { path:'..' })</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <main id="contents">
        <h1 class="hidden-txt">미팅프로그램 - 웨비나 관리</h1>

        <!-- 상단 배너 -->
        <section class="top-bnr">
          <div class="container">
            <h2>
              <strong>미팅프로그램</strong><br />
              <span><b>미팅관리자</b>님 반갑습니다! <br class="mob-only" />미팅프로그램 페이지 입니다.</span>
            </h2>
          </div>
        </section>
        <section class="contents">
          <nav class="tab-menu">
            <ul>
              <li class="on"><a href="../webina/list.html">웨비나</a></li>
              <li><a href="../vdConference/list.html">화상회의</a></li>
              <li><a href="../booth/list.html">부스라이브</a></li>
              <li><a href="../match/list.html">매치메이킹</a></li>
            </ul>
          </nav>
          <div class="cts-wrap">
            <header class="cts-header tit">
              <h3>웨비나 관리</h3>
            </header>
            <div class="cts-body">
              <div class="container">
                <div class="sub-tit">
                  <h4>2022 제 31회 국제천문연맹 총회 XXXIst General Assembly of International</h4>
                  <div class="btn-wrap inline">
                    <button class="btn-createWebina lg bg-skyblue rounded"><em>웨비나 생성</em></button>
                  </div>
                </div>
                <div class="filter-wrap">
                  <div><strong>총 300건</strong></div>
                  <div>
                    <dl>
                      <dt><b>날짜</b></dt>
                      <dd>
                        <div class="text-wrap calendar">
                          <input type="text" inputmode="none" />
                        </div>
                      </dd>
                    </dl>
                    <dl>
                      <dt><b>장소</b></dt>
                      <dd>
                        <div class="select-wrap">
                          <label for="selectPlace"><em class="hidden-txt">장소 선택</em></label>
                          <select name="" id="selectPlace">
                            <option value="" selected>부산 벡스코</option>
                          </select>
                        </div>
                      </dd>
                    </dl>
                    <dl class="wide">
                      <dt><b>검색</b></dt>
                      <dd>
                        <div class="text-wrap has-button">
                          <input type="text" placeholder="발표자, 업체명, 제목 검색" />
                          <div class="btn-wrap inline">
                            <button class="btn-search bg-navy2 rounded"><em>검색</em></button>
                          </div>
                        </div>
                      </dd>
                    </dl>
                  </div>
                </div>

                <!-- pc -->
                <div class="tblStyle pc-only">
                  <table>
                    <caption>
                      웨비나(순번, 날짜, 제목, 상태, 장소, 발표자로 구성된 표)
                    </caption>
                    <colgroup>
                      <col style="width: 10%" />
                      <col style="width: 20%" />
                      <col style="width: auto" />
                      <col style="width: 10%" />
                      <col style="width: 15%" />
                      <col style="width: 8%" />
                    </colgroup>
                    <thead>
                      <tr>
                        <th scope="col">순번</th>
                        <th scope="col">날짜</th>
                        <th scope="col">제목</th>
                        <th scope="col">장소</th>
                        <th scope="col">발표자</th>
                        <th scope="col">메뉴</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>15</span></td>
                        <td><span>2022.01.03 09시 00분 ~ 14시 30분</span></td>
                        <td class="tit">
                          <span class="mgt">
                            <a href="./detail.html">
                              FRB의 다중 파장 연구 및 우주론적 사용파장 연구 및 우주론적 사용우주론적 사용
                            </a>
                            <em class="txt-color orange">(대기)</em>
                          </span>
                        </td>
                        <td><span>부산 벡스코 A관</span></td>
                        <td><span>PCN</span></td>
                        <td>
                          <div class="grid-wrap">
                            <button class="btn-monitoring bg-green auto rounded"><em>모니터링</em></button>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td><span>14</span></td>
                        <td><span>2022.01.03 09시 00분 ~ 14시 30분</span></td>
                        <td class="tit">
                          <span class="mgt">
                            <a href="./detail.html">
                              FRB의 다중 파장 연구 및 우주론적 사용파장 연구 및 우주론적 사용우주론적 사용
                            </a>
                            <em class="txt-color skyblue">(진행중)</em>
                          </span>
                        </td>
                        <td><span>부산 벡스코 B관</span></td>
                        <td><span>PCN</span></td>
                        <td>
                          <div class="grid-wrap">
                            <button class="btn-monitoring bg-green auto rounded"><em>모니터링</em></button>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td><span>13</span></td>
                        <td><span>2022.01.03 09시 00분 ~ 14시 30분</span></td>
                        <td class="tit">
                          <span class="mgt">
                            <a href="./detail.html">
                              FRB의 다중 파장 연구 및 우주론적 사용파장 연구 및 우주론적 사용우주론적 사용
                            </a>
                            <em>(종료)</em>
                          </span>
                        </td>
                        <td><span>부산 벡스코 D관</span></td>
                        <td><span>PCN</span></td>
                        <td>
                          <div class="grid-wrap">
                            <button class="btn-replay bg-blueGray auto rounded"><em>다시보기</em></button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- mobile -->
                <div class="tblStyle mob-only">
                  <ul>
                    <li>
                      <div class="tit">
                        <b>
                          <a href="./detail.html"
                            >FRB의 다중 파장 연구 및 우주론적 사용파장 연구 및 우주론적 사용우주론적 사용
                          </a>
                        </b>
                      </div>
                      <dl>
                        <dt>상태</dt>
                        <dd><span class="txt-color orange">대기</span></dd>
                        <dt>장소</dt>
                        <dd>부산 벡스코 A관</dd>
                        <dt>발표자</dt>
                        <dd>PCN</dd>
                      </dl>
                      <dl>
                        <dt>날짜</dt>
                        <dd>2022.01.03 09시 00분 ~ 14시 30분</dd>
                      </dl>
                      <div class="btn-wrap">
                        <button class="btn-monitoring bg-green rounded"><em>모니터링</em></button>
                      </div>
                    </li>
                    <li>
                      <div class="tit">
                        <b>
                          <a href="./detail.html"
                            >FRB의 다중 파장 연구 및 우주론적 사용파장 연구 및 우주론적 사용우주론적 사용
                          </a>
                        </b>
                      </div>
                      <dl>
                        <dt>상태</dt>
                        <dd><span class="txt-color skyblue">진행중</span></dd>
                        <dt>장소</dt>
                        <dd>부산 벡스코 B관</dd>
                        <dt>발표자</dt>
                        <dd>PCN</dd>
                      </dl>
                      <dl>
                        <dt>날짜</dt>
                        <dd>2022.01.03 09시 00분 ~ 14시 30분</dd>
                      </dl>
                      <div class="btn-wrap">
                        <button class="btn-monitoring bg-green rounded"><em>모니터링</em></button>
                      </div>
                    </li>
                    <li>
                      <div class="tit">
                        <b>
                          <a href="./detail.html">
                            FRB의 다중 파장 연구 및 우주론적 사용파장 연구 및 우주론적 사용우주론적 사용
                          </a>
                        </b>
                      </div>
                      <dl>
                        <dt>상태</dt>
                        <dd><span>종료</span></dd>
                        <dt>장소</dt>
                        <dd>부산 벡스코 D관</dd>
                        <dt>발표자</dt>
                        <dd>PCN</dd>
                      </dl>
                      <dl>
                        <dt>날짜</dt>
                        <dd>2022.01.03 09시 00분 ~ 14시 30분</dd>
                      </dl>
                      <div class="btn-wrap">
                        <button class="btn-replay bg-blueGray rounded"><em>다시보기</em></button>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- pc -->
                <div class="paging pc-only">
                  <a href="#" class="first disable"><em class="hidden-txt">첫 페이지</em></a>
                  <a href="#" class="prev disable"><em class="hidden-txt">이전 페이지</em></a>
                  <span>1</span>
                  <a href="#">2</a>
                  <a href="#">3</a>
                  <a href="#">4</a>
                  <a href="#">5</a>
                  <a href="#">6</a>
                  <a href="#">7</a>
                  <a href="#">8</a>
                  <a href="#">9</a>
                  <a href="#">10</a>
                  <a href="#" class="next"><em class="hidden-txt">다음 페이지</em></a>
                  <a href="#" class="last"><em class="hidden-txt">마지막 페이지</em></a>
                </div>
                <!-- mobile -->
                <div class="btn-wrap align-c mob-only">
                  <button type="button" class="btn-prev"><em>이전</em></button>
                  <span><b>1</b>&nbsp;&nbsp;of&nbsp;&nbsp;<em>10</em></span>
                  <button type="button" class="btn-next"><em>다음</em></button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer.html')</footer>
      <!-- // #footer -->
    </div>
  </body>
</html>
