<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html', { page_main: false, page_title:'매치메이킹 목록' })
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header id="gnb">@@include('../include/gnb.html', { path:'..' })</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <main id="contents">
        <h1 class="hidden-txt">미팅프로그램 - 매치메이킹</h1>

        <!-- 상단 배너 -->
        <section class="top-bnr">
          <div class="container">
            <h2>
              <strong>미팅프로그램</strong><br />
              <span><b>미팅관리자</b>님 반갑습니다! <br class="mob-only" />미팅프로그램 페이지 입니다.</span>
            </h2>
          </div>
        </section>
        <section class="contents">
          <nav class="tab-menu">
            <ul>
              <li><a href="../webina/list.html">웨비나</a></li>
              <li><a href="../vdConference/list.html">화상회의</a></li>
              <li><a href="../booth/list.html">부스라이브</a></li>
              <li class="on"><a href="../match/list.html">매치메이킹</a></li>
            </ul>
          </nav>
          <div class="cts-wrap">
            <header class="cts-header tit">
              <h3>매치메이킹 목록</h3>
            </header>
            <div class="cts-body">
              <div class="container">
                <div class="matchMaking">
                  <div class="filter-wrap row">
                    <div class="btn-wrap inline">
                      <button
                        type="button"
                        class="btn-moreTag lg bg-skyblue rounded button-active-modal"
                        data-modal-name="setMatchmaking"
                      >
                        <em>관심분야 설정</em>
                      </button>
                    </div>
                    <div>
                      <dl class="wide">
                        <dt><b>검색</b></dt>
                        <dd>
                          <div class="text-wrap has-button">
                            <input type="text" placeholder="태그, 제목 검색" />
                            <div class="btn-wrap inline">
                              <button class="btn-search bg-navy2 rounded"><em>검색</em></button>
                            </div>
                          </div>
                        </dd>
                      </dl>
                    </div>
                  </div>
                  <div class="tag-wrap">
                    <span class="tit"><b>매치메이킹</b></span>
                    <span class="apricot xl"><b>우주</b></span>
                    <span class="apricot lg"><b>사진</b></span>
                    <span class="skyblue md"><b>영화</b></span>
                    <span class="skyblue md"><b>일반서</b></span>
                    <span class="sm"><b>특집</b></span>
                    <span class="sm"><b>우주의 신비</b></span>
                    <span class="sm"><b>서적</b></span>
                    <span class="sm"><b>일반서</b></span>
                    <span class="xs"><b>신비</b></span>
                  </div>
                </div>

                <div class="filter-wrap row only">
                  <div><strong>총 300건</strong></div>
                  <div class="btn-wrap inline">
                    <button type="button" class="btn-moreTag bg-orange rounded"><em>태그 더보기</em></button>
                  </div>
                </div>

                <!-- pc -->
                <div class="tblStyle pc-only">
                  <table>
                    <caption>
                      부스라이브 목록(순번, 부스명(업체명), 상태, 장소, 부스 담당자로 구성된 표)
                    </caption>
                    <colgroup>
                      <col style="width: 10%" />
                      <col style="width: auto" />
                      <col style="width: 10%" />
                      <col style="width: 10%" />
                      <col style="width: 15%" />
                    </colgroup>
                    <thead>
                      <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">태그</th>
                        <th scope="col">작성자</th>
                        <th scope="col">등록일시</th>
                      </tr>
                    </thead>
                    <tbody>
                      @@for(var i = 15; i > 10; i--){
                      <tr>
                        <td><span>A0`+i+`</span></td>
                        <td class="tit">
                          <span>
                            <a href="./detail.html">
                              100가지 사진으로 보는 우주의 신비100가지 사진으로 보는 우주의 신비100가지 사진으로 보는 100가지
                              사진으로 보는 우주의 신비100가지 사진으로 보는 우주의 신비100가지 사진으로 보는
                            </a>
                          </span>
                        </td>
                        <td><span>우주, 사진</span></td>
                        <td><span>홍길동 팀장</span></td>
                        <td><span>2022-11-01 13시 31분</span></td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>

                <!-- mobile -->
                <div class="tblStyle mob-only">
                  <ul>
                    @@for(var i = 15; i > 10; i--){
                    <li>
                      <div class="tit">
                        <span>
                          <a href="./detail.html">
                            100가지 사진으로 보는 우주의 신비100가지 사진으로 보는 우주의 신비100가지 사진으로 보는 100가지
                            사진으로 보는 우주의 신비100가지 사진으로 보는 우주의 신비100가지 사진으로 보는
                          </a>
                        </span>
                      </div>
                      <dl>
                        <dt>태그</dt>
                        <dd>우주, 사진</dd>
                        <dt>작성자</dt>
                        <dd>홍길동 팀장</dd>
                      </dl>
                      <dl>
                        <dt>등록일시</dt>
                        <dd>2022-11-01 13시 31분</dd>
                      </dl>
                    </li>
                    }
                  </ul>
                </div>

                <!-- pc -->
                <div class="paging pc-only">
                  <a href="#" class="first disable"><em class="hidden-txt">첫 페이지</em></a>
                  <a href="#" class="prev disable"><em class="hidden-txt">이전 페이지</em></a>
                  <span>1</span>
                  <a href="#">2</a>
                  <a href="#">3</a>
                  <a href="#">4</a>
                  <a href="#">5</a>
                  <a href="#">6</a>
                  <a href="#">7</a>
                  <a href="#">8</a>
                  <a href="#">9</a>
                  <a href="#">10</a>
                  <a href="#" class="next"><em class="hidden-txt">다음 페이지</em></a>
                  <a href="#" class="last"><em class="hidden-txt">마지막 페이지</em></a>
                </div>

                <!-- mobile -->
                <div class="btn-wrap align-c mob-only">
                  <button type="button" class="btn-prev"><em>이전</em></button>
                  <span><b>1</b>&nbsp;&nbsp;of&nbsp;&nbsp;<em>10</em></span>
                  <button type="button" class="btn-next"><em>다음</em></button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer.html')</footer>
      <!-- // #footer -->

      <!-- 투표 관리 -->
      @@include('../include/modal_setMatchmaking.html')
    </div>
  </body>
</html>
